<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<!-- Body content -->


<div class="header-connect">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-8  col-xs-12">
                <div class="header-half header-call">
                    <p>
                        <span><i class="pe-7s-call"></i> (+91)9811670005</span>
                        <span><i class="pe-7s-mail"></i> rohinipgdelhi@gmail.com</span>
                    </p>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
                <div class="header-half header-social">
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram-square"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter-square"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End top header -->

<nav class="navbar navbar-default ">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/assets/img/logo.jpeg" alt=""
                    style="height: 50px; width: 250px;"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse yamm" id="navigation">
            <div class="button navbar-right">
                <%if(!isAuthenticated){%>
                    <button class="navbar-btn nav-button wow bounceInRight login" onclick="location='/login'"
                        data-wow-delay="0.4s"><i class="fa-solid fa-right-to-bracket"></i> Login</button>
                    <button class="navbar-btn nav-button wow fadeInRight" onclick="location='/signup'"
                        data-wow-delay="0.5s"><i class="fa-solid fa-user-plus"></i> Signup</button>
                    <%}else{%>
                        <form action="/logout" method="post">
                            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                            <button class="navbar-btn nav-button wow fadeInRight" data-wow-delay="0.4s"><i
                                    class="fa-solid fa-right-from-bracket"></i> Logout</button>
                        </form>
                        <%}%>
            </div>
            <ul class="main-nav nav navbar-nav navbar-right">
                <li class="dropdown ymm-sw " data-wow-delay="0.1s">
                    <a href="/" class="active" data-delay="200">Home </a>
                </li>
                <li class="dropdown ymm-sw " data-wow-delay="0.1s">
                    <a href="/search" class="" data-delay="200">Properties </a>
                </li>
                <li class="dropdown ymm-sw" data-wow-delay="0.1s">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                        data-delay="200">Hi, <%=user?user.firstName:'User'%><b class="caret"></b>
                            <%if(user&&user.notifications.length){%>
                                <span class="badge">
                                    <%=user.notifications.length%>
                                </span>
                                <%}%>

                    </a>
                    <ul class="dropdown-menu navbar-nav">
                        <%if(user){%>
                            <%if(user.isAdmin){%>
                                <li><a href="/admin">Go To Dashboard</a></li>
                                <%}%>
                                    <li>
                                        <a href="/manage-properties">Manage Property</a>
                                    </li>
                                    <%}%>
                                        <li>
                                            <a href="/add-property">Post New Property</a>
                                        </li>
                    </ul>

                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- End of nav bar -->